body{
    font-family: 'Inter';
    font-style: normal;
}
.todo_form{
    margin-left: 3rem;
    display: flex;
    flex-direction:column;
    width: 10rem;
    gap:1rem;
}

input, textarea{
    border-radius: 0.3rem;
}


nav{
    background-color: blueviolet;
    color: white;
    padding: 0.1rem 0rem ;
    margin-bottom: 3rem;
}

nav>h2{
    margin-left: 3rem;
}

main {

    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: start;
    /* gap: 5rem; */
}


.buttonpurp{
    background-color: blueviolet;
    color: white;
}

.ContainerOfButtonForChangingTasks{
    align-self: center;
}

h3{
    font-weight: bold;
}

label{
    font-weight: bold;
    /* position: fixed; */
}

button{
    height: 4rem;
    /* justify-self:center; */
    flex-grow: 5;
}



li{
    margin-left: -2rem;

}

ul{
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    list-style-position: inside;
    list-style: none;
    border: 2px solid #bdc6ca ;
    height: 80vh;
    overflow-y: scroll;
}
